*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Custom Fonts */
@font-face {
  font-family: "cursed_timer_ulilregular";
  src: url("fonts/cursedtimerulil-aznm-webfont.woff2") format("woff2"),
    url("/fonts/cursedtimerulil-aznm-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Basic Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}
